html {
	height: 100%;
	width: 100%;
}
html, body {
	overflow:hidden;
}
body {
	background-image: url('/Texures/homePageBackground.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.buttonDiv {
	/*margin-left: 36%;*/
	margin-top: 5.5vh;
	height: 80%;
	width: 60.6%;
	float: right;
}
.bigButtons {
	font-family: "Metal Mania";
	margin: 5%;
	margin-bottom: 2%;
	height: 160px;
	width: 88%;
	color: #90861a;
	text-align: center;
	font-size: 6vw;
	border: 4px solid #90861a;
	border-radius: 8px;
	background-color: #4b2a19ff;
}
.bigButtons:hover {
	animation-name: buttonHover;
	animation-duration: .5s;
	background-color: #361807ff;
}
.bigButtons:not(:hover) {
	animation-name: notButtonHover;
	animation-duration: .2s;
	background-color: #4b2a19ff;
}
.smallButton {
	font-family: "Metal Mania";
	margin: 5%;
	height: 100px;
	width: 40%;
	color: #90861a;
	text-align: center;
	font-size: 4vw;
	border: 4px solid #90861a;
	border-radius: 8px;
	background-color: #4b2a19ff;
}
.smallButton:hover {
	animation-name: buttonHover;
	animation-duration: .5s;
	background-color: #361807ff;
}
.smallButton:not(:hover) {
	animation-name: notButtonHover;
	animation-duration: .2s;
	background-color: #4b2a19ff;
}
@keyframes buttonHover {
	from {background-color: #4b2a19ff;}
	to {background-color: #361807ff;}
}
@keyframes notButtonHover {
	from {background-color: #361807ff;}
	to {background-color: #4b2a19ff;}
}
.logoDiv {
	margin-top: 6%;
	margin-left: 8.8%;
	float: left;
	width:18%;
}
.logo {
	height: 15vw;
	width: 15vw;
}
.playButtonWarning {
	margin-top: 5vh;
	border: 4px solid #90861a;
	border-radius: 20px;
	background-color: #4b2a19ff;
}
.closeButton {
	border: 4px solid black;
	border-radius: 100%;
	background-color: #750000ff;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}
.modalChanges {
	background-color: #fff0;
	width: 90vw;
}
.warning-title {
	color: #df1111;
	text-align: center;
	font-family: "Metal Mania";
	font-size: 12vh;
}
.warning-paragraph {
	color: #df1111;
	text-align: center;
	font-family: "Metal Mania";
	font-size: 8vh;
}
.credits-title {
	color: #90861a;
	text-align: center;
	font-family: "Metal Mania";
	font-size: 12vh;
}
.credits-paragraph {
	color: #90861a;
	text-align: center;
	font-family: "Metal Mania";
	font-size: 4vh;
}
.htp-title {
	color: #90861a;
	text-align: center;
	font-family: "Metal Mania";
	font-size: 12vh;
}
.htp-image {
	height: 70vh;
	width: 86vw;
}
.modal-overwrite {
	padding-top: 0;
	background-color: #FF000000;
}
.playButton {
	font-family: "Metal Mania";
	margin: 0%;
	margin-bottom: 0%;
	height: 50%px;
	width: 40%;
	color: #90861a;
	text-align: center;
	font-size: 6vw;
	border: 4px solid #90861a;
	border-radius: 8px;
	background-color: #4b2a19ff;
}